@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-wrapper {
  height: 400px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  height: 90%;
  width: 60%;
}
